<!-- wp:artisanpack/template-part {"slug":"header","theme":"artisanpack-ui","tagName":"header"} /-->

<!-- wp:artisanpack/group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-artisanpack-group wp-block-group is-layout-constrained"><!-- wp:pattern {"slug":"artisanpack-ui/page-header-centered"} /-->

<!-- wp:artisanpack/query {"queryId":0,"query":{"perPage":12,"postType":"package","inherit":false,"order":"asc","orderBy":"title"},"layout":{"type":"constrained"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}}} -->
<div class="wp-block-artisanpack-query wp-block-query is-layout-constrained"><!-- wp:pattern {"slug":"artisanpack-ui/packages-portfolio"} /-->

<!-- wp:artisanpack/query-pagination {"layout":{"type":"flex","justifyContent":"center"},"style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}}} -->
<!-- wp:artisanpack/query-pagination-previous /-->
<!-- wp:artisanpack/query-pagination-numbers /-->
<!-- wp:artisanpack/query-pagination-next /-->
<!-- /wp:artisanpack/query-pagination --></div>
<!-- /wp:artisanpack/query --></main>
<!-- /wp:artisanpack/group -->

<!-- wp:artisanpack/template-part {"slug":"footer","theme":"artisanpack-ui","tagName":"footer"} /-->
